*{
    margin: 0px;
    padding: 0px;
}
.home{
    display: block;
    width:98%;
    height: 95vh;
    background-image: url(assests/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 1%;
    border-radius: 20px;
}
#navbar{
    display: inline-flex;
    margin-top: 20px;
    margin-left: 45%;
    width: 10%;
    height:10px;
    background-color: rgba(27, 26, 26, 0.521); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 50px; /* Rounded corners */
    border: 1px solid rgb(1, 255, 1);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: width 1s ease,  0.5s ease;
}


#o{
    width: 100%;
    display: inline-flex;
    background-color: rgba(27, 26, 26, 0);
    color: rgb(1, 255, 1); 
}
#o i{
    background-color:rgba(27, 26, 26, 0);
    color:rgb(1, 255, 1); 
    margin-left: 25px;
}
#o a{
    padding: 10px;
    margin-top: -16px;
    color:rgb(1, 255, 1); 
    background-color:rgba(27, 26, 26, 0);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition-delay: 0.5s;
}
#navbar #t2,#h2{
    display: none;
}
#navbar:hover{
    width: 80%;
    margin-left: 5%;
}
#navbar:hover  #t2{
    display: block;
}
#navbar:hover  #h2{
    display: block;
}


#nav2{
    display: inline-flex; 
    position: fixed; /* or absolute */
    top: 20px;
    right: 20px;
    background-color: rgba(27, 26, 26, 0.521); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 50px; /* Rounded corners */
    border: 1px solid rgb(1, 255, 1);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: width 1s ease,  0.5s ease;
}
#nav2 .pj{
    display: inline-flex;
    background-color:rgba(27, 26, 26, 0);
    color:rgb(1, 255, 1); 
}
#nav2 .pj i{
    background-color:rgba(27, 26, 26, 0);
    color:rgb(1, 255, 1); 
}
.pj a{
    margin-top: -7px;
    padding-left: 10px;
    padding-right: 30px;
    color:rgb(1, 255, 1); 
    background-color:rgba(27, 26, 26, 0);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition-delay: 0.5s;
}
#nav2  #t2{
    display: none;
}
#nav2:hover  #t2{
    display: block;
}




.logo{
    display: grid;
    align-items: center;
    margin-top: 15%;
    margin-left: 15%;
    width: 100%;
}
.home .logo  img{
   align-self: center;
   width: 70%;
}

.services{
    width: 98%;
    background-color: rgba(1, 255, 1, 0.466); 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    border-radius: 20px;
}
.services img{
    margin-left: 10%;
    margin-top: 20px;
}
.cardbox{
    display:inline-flex;
    margin-left: 15%;
    margin-top: 3%;
}
.card{
    width: 300px ;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 40px;
    background-color: rgba(27, 26, 26, 0.493);
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 50px; /* Rounded corners */
    border: 3px solid rgb(1, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card h1{
    font-size: 50px;
    line-height: 55px;
    margin-left: 20px;
    margin-top: 20px;
}
.card p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.card button{
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgb(1, 255, 1);
    border: 1px solid #fff;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: ease-in 1s;
}
.card button:hover{
    transform: scale(1.1);
}
.card #bt2{
    margin-left: 20px;
    margin-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgb(1, 255, 1);
    border: 1px solid #fff;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about{
    width: 98%;
    background-color: rgba(3, 148, 3, 0.466); 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    border-radius: 20px;
}
.about img{
    margin-top: 20px;
    margin-left: 5%;
}
.about .ub{
    display: inline-flex;
    margin-top: 5%;
    margin-left: 60px;
}
.about .ub1{
    width: 300px;
    height: 150px;
    background-color: rgba(27, 26, 26, 0.493);
    border: 1px solid  rgb(1, 255, 1) ;
    border-radius: 10px;
}
.about .ub1 h1{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(1, 255, 1) ;
}
.about .ub2{
    margin-left: 290px;
    width: 300px;
    height: 150px;
    background-color: rgba(27, 26, 26, 0.493);
    border: 1px solid  rgb(1, 255, 1) ;
    border-radius: 10px;
}
.about .ub2 h1{
    margin-top: 20px;
    margin-left: 40px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(1, 255, 1) ;
}

.about .lin{
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(1, 255, 1);
}
.about .btb{
    display: inline-flex;
    margin-left: 350px;
    margin-bottom: 100px;
}
.about .btb1{
    width: 300px;
    height: 150px;
    background-color: rgba(27, 26, 26, 0.493);
    border: 1px solid  rgb(1, 255, 1) ;
    border-radius: 10px;
}
.about .btb2{
    margin-left: 300px;
    width: 300px;
    height: 150px;
    background-color: rgba(27, 26, 26, 0.493);
    border: 1px solid  rgb(1, 255, 1) ;
    border-radius: 10px;
}
.about .btb2 h1{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(1, 255, 1) ;
}
.about .btb1 h1{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(1, 255, 1) ;
}
.contact{
    width: 98%;
    background-color: rgba(2, 99, 2, 0.466); 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    border-radius: 20px;
}
.contact img{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}
.contact .con2{
    display: inline-flex;
    margin-top: 5%;
    margin-left: 20px;
}
.contact .con2 .con3{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 590px;
    height: 360px;
    background-color:rgba(2, 43, 2, 0.466) ;
    border-radius: 30px;
    border: 1px solid  rgb(1, 255, 1) ;
}
.con3 i{
    font-size:30px ;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(1, 255, 1) ;
    border-radius: 100%;
}
.con3 h1{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.con3 p{
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 52, 52);
    font-size: 20px;
}
.contact .con2 .con3 #fu{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 255, 1);
    font-size: 20px;
    text-decoration: none;
}
footer{
    width: 100%;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.up{
 display: inline-flex;
}
.brief{
    width: 40%;
    height: 50px;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brief p{
    font-size: 18px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brief i{
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 100px;
    color: black;
}
.brief i:hover{
    color: rgb(1, 255, 1) ;
}
.support{
    margin-top: 3%;
    margin-left: 80px;
  
}
.support p{
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
.support a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 10px;
    transition: ease-in 1s;
}
.support a:hover{
    color:  rgb(1, 255, 1);
}
.yt{
    margin-top: 10%;
    margin-left: 5%;
}
.yt p{
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-bottom: 30px;
}
.yt img{
    margin-bottom: 30px;
}
.yt a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
.lp img{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70% ;
    opacity: 0.3;
}






















































































@media (max-width: 768px) {
    .home{
        height: 700px;
    }
    #navbar{
        margin-top: 600px;
        margin-left: 40%;
        width: 60px;
        border-radius: 50px; 
        border: 1px solid rgb(1, 255, 1);
        background-color: rgba(27, 26, 26, 0.521); 
        backdrop-filter: blur(10px); 
        transition: width 1s ease,  0.5s ease;
    }
    
    #o{
        width: 100%;
        display: inline-flex;
        background-color: rgba(27, 26, 26, 0);
        color: rgb(1, 255, 1); 
    }
    #o i{
        background-color:rgba(27, 26, 26, 0);
        color:rgb(1, 255, 1); 
        margin-left: 10px;
    }
    #o a{
        padding: 5px;
        margin-top: -6px;
        color:rgb(1, 255, 1); 
        background-color:rgba(27, 26, 26, 0);
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        transition-delay: 0.5s;
    }
    #navbar #t2,#h2{
        display: none;
    }
    #navbar:hover{
        width: 80%;
        margin-left: 5%;
    }
    #navbar:hover  #t2{
        display: block;
    }
    #navbar:hover  #h2{
        display: block;
    }
    .logo{
        display: grid;
        align-items: center;
        margin-top:-350px ;
        margin-left: 5%;
    }
    .home .logo  img{
        align-self: center;
        width: 90%;
    }
    .services img{
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 80%;
    }
    .cardbox {
        flex-direction: column;
        align-items: center;
        margin-left: 12%;
    }
    .about img{
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 80%;
    }
    .about .lin{
        width: 1%;
        margin-top: -300px;
        margin-bottom: -300px;
        margin-left: 49%;
        height: 600px;
        border-radius: 20px;
        background-color: rgb(1, 255, 1);
    }

    .about .ub{
        flex-direction: column;
        margin-left: 10px;
    }
    .about .ub1{
        width: 150px;
        height: 150px;
        background-color: rgba(27, 26, 26, 0.493);
        border: 1px solid  rgb(1, 255, 1) ;
        border-radius: 10px;
    }
    .about .ub1 h1{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 10px;
       font-size: 13px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: rgb(1, 255, 1) ;
    }
    .about .ub2{
        margin-left: 200px;
        width: 150px;
        height: 150px;
        background-color: rgba(27, 26, 26, 0.493);
        border: 1px solid  rgb(1, 255, 1) ;
        border-radius: 10px;
    }
    .about .ub2 h1{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 10px;
       font-size: 13px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: rgb(1, 255, 1) ;
    }
    .about .btb{
        flex-direction: column;
        margin-left: 10px;
    }
    .about .btb1{
        width: 150px;
        height: 150px;
        background-color: rgba(27, 26, 26, 0.493);
        border: 1px solid  rgb(1, 255, 1) ;
        border-radius: 10px;
    }
    .about .btb2{
        margin-left: 200px;
        width: 150px;
        height: 150px;
        background-color: rgba(27, 26, 26, 0.493);
        border: 1px solid  rgb(1, 255, 1) ;
        border-radius: 10px;
    }
    .about .btb2 h1{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 10px;
       font-size: 13px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: rgb(1, 255, 1) ;
    }
    .about .btb1 h1{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 10px;
       font-size: 13px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color: rgb(1, 255, 1) ;
    }
    
    .contact img{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 10%;
    }
    .contact .con2{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 5%;
        margin-left: 20px;
    }
    .contact .con2 .con3{
        margin-left: 10%;
        margin-bottom: 40px;
        margin-top: 10px;
        width: 300px;
        height: 360px;
        background-color:rgba(2, 43, 2, 0.466) ;
        border-radius: 30px;
        border: 1px solid  rgb(1, 255, 1) ;
    }
    .con3 i{
        font-size:30px ;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;
        background-color: rgb(1, 255, 1) ;
        border-radius: 100%;
    }
    .con3 h1{
        margin-top: 30px;
        margin-left: 20px;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    }
    .con3 p{
        margin-top: 30px;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(53, 52, 52);
        font-size: 20px;
    }
    .contact .con2 .con3 #fu{
        padding-top: 20px;
        padding-left: 0px;
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(1, 255, 1);
        font-size: 20px;
        text-decoration: none;
    }
    .up{
        flex-direction: column;
    }
    .brief{
        width: 80%;
        height: 50px;
        margin-top: 10%;
        margin-bottom: 140px;
        margin-left: 10%;
        font-size: 20px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .brief p{
        font-size: 15px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .brief i{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        padding: 10px;
        border-radius: 100px;
        color: black;
    }
    .support{
        margin-top: 50px;
        margin-left: 10%;
      
    }
    .support p{
        color: white;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .support a{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        padding: 10px;
        transition: ease-in 1s;
    }
    .support a:hover{
        color:  rgb(1, 255, 1);
    }
    .yt{
        margin-top: 10%;
        margin-left: 10%;
    }
    .yt p{
        color: white;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        margin-bottom: 30px;
    }
    .yt img{
        margin-bottom: 30px;
    }
    .yt a{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    .hr{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .lp img{
        margin-left: 15%;
        margin-top: 30px;
        margin-bottom: 40px;
        width: 70% ;
        opacity: 0.3;
    }
    
}

